@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(161,100,223);
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    margin:1rem;
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
}

.btn:active{
    background-color: rgb(73,37,110);
}

.wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
    position: fixed;
    top:20vh;
    bottom:20vh;
    right:27vw;
    left:27vw;
}